############
## Project
############

# Library folder
lib/

# Pickled files
*.pickle


#############
## Python
#############

*.py[co]


#############
## Sublime
#############

*.sublime-project
*.sublime-workspace
