############
## Project
############

# Library folder
lib/

# Configuration file
causeofwhy.ini

# Pickled files
*.pickle


#############
## Python
#############

*.py[co]


#############
## Sublime
#############

*.sublime-project
*.sublime-workspace
