body {
    /*background-image: url(images/background.jpg);*/
    background-color: darkgray;
    font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
    font-size: 18px;
}

h1 {
    color: black;
}

div#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

div#header {
    padding: 106px 0px 40px 0px;
    /*background-image: url(images/header.jpg);*/
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}

div#mainbody {
    background-color: #f3f3f3;
    padding: 40px 30px 0px 50px;
    height: 100%;
}

table#search {
    overflow:hidden;
    border:1px solid #4f853e;
    background:#f3f3f3;
    width:80%;
    margin:5% auto 0;
    border-radius:5px;
    padding: 5px 15px;
}

table#search th {
    color: #4f853e;
}

table#search td {
    border-bottom:1px solid #4f853e;
}

#query {
    font-size: 32px;
}

.relevancy {
    float: left;
    background-color: #4f853e;
    height: 10px;
}
