<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Cause of Why | Causal Question Answering (QA) System</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel=StyleSheet href="{{ static_url("style.css") }}" type="text/css" media=screen>
</head>

<body>
 <div id="wrapper">
    <div id="header">

    </div>
    <div id="mainbody">
        <h1>Cause of Why</h1>
        Query: {{ escape(query) }}<br>
        Modified Query: {{ escape(ir_query) }}<br>
        Results: {{ num_results }}<br>
        <table id="search">
            <tr>
                <th>Rank</th>
                <th>Page</th>
                <th>Answer</th>
            </tr>
            {% for position, answer in enumerate(answers, start=1) %}
            <tr>
                <td>{{ position }}</td>
                <td><a href="http://simple.wikipedia.org/?curid={{ answer.ID }}" title="{{ '{:.2%}'.format(answer.cosine_sim) }}">{{ answer.title }}</a></td>
                <td>{% raw '<br>'.join([' '.join(sent) for sent in answer.sentences]) %}</td>
            </tr>
            {% end %}
        </table>
    </div>
</div>
</body>
</html>
