<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Cause of Why | Causal Question Answering (QA) System</title>
    <link rel=StyleSheet href="{{ static_url("style.css") }}" type="text/css" media=screen>
</head>

<body>
 <div id="wrapper">
    <div id="header">

    </div>
    <div id="mainbody">
        <h1>Cause of Why</h1>
        <strong>Query:</strong> {{ escape(query) }}<br>
        <strong>Modified Query:</strong> {{ escape(ir_query) }}<br>
        <strong>Matching Pages:</strong> {{ num_pages }}
        <table id="search">
            <tr>
                <th>Rank</th>
                <th>Page</th>
                <th>Cause</th>
            </tr>
            {% for position, answer in enumerate(answers, start=1) %}
            <tr>
                <td>{{ position }}</td>
                <td><a href="http://simple.wikipedia.org/?curid={{ answer.page.ID }}" title="{{ '{:.2%}'.format(answer.page.cosine_sim) }}">{{ answer.page.title }}</a></td>
                <td>{{ answer.text }}</td>
            </tr>
            {% end %}
        </table>
        <strong>Disambiguation:</strong>
        {% for word, synsets in ir_query_tagged %}<br>
        <em>{{ word }}:</em>
        <select>
            <option value="any">- any sense -</option>{% for name, definition in synsets %}
            <option value="{{ name }}">{{ definition }}</option>{% end %}
        </select>{% end %}
    </div>
</div>
</body>
</html>
