<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Cause of Why | Causal Question Answering (QA) System</title>
    <link rel=StyleSheet href="{{ static_url("style.css") }}" type="text/css" media=screen>
</head>

<body>
    <div id="wrapper">
        <div id="header">

        </div>
        <div id="mainbody">
            <h1>What is the cause of why &hellip;</h1>
            <form action="cause/" method="get">
                <input id="query" name="q" type="text" size="40" /><br>
                <input value="Find Causes" type="submit" />
            </form>

        </div>
    </div>
</body>
</html>
